body {
    padding: 0px;
    margin: 0px;
    font-family: helvetica;
}

header {
    background: black;
    color: white;
    font-size: smaller;
    margin: 0px;
    overflow: hidden;
}
header .logo {
    font-size: xx-large;
    padding-left: 5px;
    padding-top: 3px;
}

h1 {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-size: x-large;
}

.logo-red {
    color: #FF0000;
}

.logo-pink {
    color: #FFCCFF;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: cyan;
}

#content {
    padding: 10px;
    margin: 3px;
}

header #left {
    float: left;
}

header #right {
    padding-right: 5px;
    float: right;
    text-align: bottom;
}

.nickname {
    font-weight: bold;
}

#online_section {
    overflow: hidden;
}