Django==1.5c1
debug==0.2.0
django-extensions==1.0.3
django-socketio==0.3.5
gevent==0.13.8
gevent-socketio==0.2.1
gevent-websocket==0.3.6
greenlet==0.4.0
ipdb==0.6.1
ipython==0.13.1
psycopg2==2.4.6
pysqlite==2.6.3
python-dateutil==2.1
readline==6.2.4.1
see==1.0.1
six==1.2.0
sphinx-me==0.1.2
wsgiref==0.1.2
