{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<style>
    .chat-message-{{ user.nickname }} {
        font-weight: bold;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'chat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'relationship.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}">
<div id="online_section">
    <h2>Who's Online</h2>
    <div class="users" id="user_template">
        <a href="#" class="nickname"></a>
        (<span class="rep"></span>)
        <span class="status"></span>
        <br>
        <span class="age"></span>
    </div>
</div>

<div id="profile_section">
    <h2>Profile</h2>
</div>

<div id="relationships_section">
    <h2>Relationships</h2>
    <div id="relationship_template">
        <h3 class="name"></h3><a href="" class="block">Block</a>
        <br>
        <span class="status"></span>
    </div>
</div>

<div id="chat_section">
<div class="chat_container" id="chat_template">
    <h3 class="chat_title"></h3>
    <div class="chatbox">
        <ul></ul>
    </div>

    <form class="chatbar">
        <input type="text"><input type="submit" value="send">
    </form>
</div>
</div>

<script src="https://raw.github.com/abourget/gevent-socketio/master/examples/django_chat/chat/static/js/socket.io.js"></script>

<script>
    var socket = io.connect("/chat");

    socket.on('connect', function() {
        // through this channel I will send and recieve all chat messages.
        // and maybe possibly other things.
        socket.emit('identify', my_hash);
    });

    socket.on("new_user", function(data) {
        // each time a new user comes online, the data will come in through this event.
        console.log("new_user", data);
        make_new_online_user(data.new_user);
    });

    socket.on("remove_user", function(data) {
        console.log("remove user", data);
        remove_online_user(data);
    });

    socket.on("nearby_users", function(data) {
        // right after connecting, the server will send a list of all users
        // in my area who are online.
        console.log("local users", data);
        $.each(data, function(i, user) {
            make_new_online_user(user);
        });
    });

    socket.on('message', function(data) {
        console.log("got message: ", data);
        add_to_chatbox(data);
    });

    $(window).bind("beforeunload", function() { 
        socket.disconnect();
    });

    var my_nickname = "{{ user.nickname }}";
    var my_hash = "{{ user.hash }}";
    var karma_url = "{% url "karma" %}";
    var relationships_url = "{% url "relationships" %}";
</script>

<script src="{% static "chat.js" %}"></script>
<script src="{% static "app.js" %}"></script>
{% endblock %}