{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<style>
.chat-message-{{ user.nickname }} {
    color: red;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'chat.css' %}">
<h1 id="chat_title">Chat</h1>
<div id="user_choices">
    {% for user in locals %}
    <div class="potential_chat_user">
        <h5><a href="" data-hash="{{ user.unique_key }}">{{ user.nickname }}</a></h5>
        <p>{{ user.status }}</p>
    </div>
    {% empty %}
    No one to chat with
    {% endfor %}
</div>

<div id="chat_section">
<div class="chat_container" id="chat_template">
    <h2 class="chat_title"></h2>
    <div class="chatbox">
        <ul></ul>
    </div>

    <form class="chatbar">
        <input type="text"><input type="submit" value="send">
    </form>
</div>
</div>



{% load socketio_tags %}
{% socketio %}
<script>
var my_nickname = "{{ user.nickname }}";
var my_hash = "{{ user.unique_key }}";
var short_poll_url = "{% url "still_here" %}";
</script>
<script src="{% static "chat.js" %}"></script>

{% endblock %}