{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<style>
.chat-message-{{ user.nickname }} {
    color: red;
}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'chat.css' %}">
<h1>Chat</h1>
<div id="user_choices">
    {% for user in locals %}
    <div class="potential_chat_user">
        <h5><a href="" data-email="{{ user.email }}">{{ user.nickname }}</a></h5>
        <p>{{ user.status }}</p>
    </div>
    {% empty %}
    No one to chat with
    {% endfor %}
</div>

<div class="row" id="chat_section">
    <div class="twelve columns">
        <div id="chatbox">
            <ul id="chats"></ul>
        </div>

        <form id="chatbar">
            <input type="text"><input type="submit" value="send">
        </form>
    </div>
</div>

{% load socketio_tags %}
{% socketio %}
<script>
var nickname = "{{ user.nickname }}";
var email = "{{ user.email }}";
var short_poll_url = "{% url "still_here" %}";
</script>
<script src="{% static "chat.js" %}"></script>

{% endblock %}