<html lang="en">
{% load staticfiles %}
    <head>
        <!-- Set the viewport width to device width for mobile -->
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>{% block title %}ChatDate{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <span class="logo">ChatDate</span> | <a href="{% url 'chat' %}">Chat</a> | <a href="{% url 'dashboard' %}">Dashboard</a>
        </header>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
    </body>
</html>