{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<style>
  .dashboard_relationship {
    height: 70px;
    width: 500px;
    border: 1px solid red;
    border-radius: 3px;
    padding: 2px;
    margin: 3px;
  }

  .F {
    background: pink;
  }

  .M {
    background: blue;
  }

</style>
  <h1>Dashboard</h1>

  <div class="row">
    {% for relationship in relationships %}
      {% if relationship.user1.email == user.email %}
        {% with person=relationship.user2 %}
          {% include "dashboard_relationship.html" %}
        {% endwith %}
      {% else %}
        {% with person=relationship.user2 %}
          {% include "dashboard_relationship.html" %}
        {% endwith %}
      {% endif %}
    <hr>
    {% empty %}
    No relationships
    {% endfor %}
  </div>

{% endblock %}