.chat_event {
    color: blue;
    font-weight: bold;
}

/* contains all chat containers */ 
#chat_section {
    display: none;
    overflow: hidden;
}

/* contains a chatbox, chat title, and chat bar */
.chat_container {
    float: left;
    height: 400px;
    width: 300px;
    margin: 5px;
}

#chat_template {
    display: none;
}

/* container with chat messages inside */
.chatbox {
    height: 200px;
    background: #DFDFDF;
    overflow: scroll;
}

/* chat messages */
.chatbox ul {
    list-style-type: none;
    padding-left: 3px;
}

/* the bar you type chats into */
.chatbar input[type=text] {
    width: 75%;
    margin: 3px;
}

/* The send button */
.chatbar input[type=submit] {
    width: 20%;
}

.users {
    width: 200px;
    height: 50px;
    padding: 3px;
    margin: 5px;
    background: #dfdfdf;
    border: 1px solid gray;
    float: left;
}

#user_template {
    display: none;
}