/* Any event, usually resulting in rep increase */
.chat_event {
    color: blue
}

/* disconnect or reconnect event in the chatbox */
.connection_event {
    color: purple;
    font-weight: bold;
}

.chat_timestamp {
    color: #999999;
}

.rep_added {
    font-weight: bold;
    color: green;
}

/* contains all chat containers */ 
#chat_section {
    overflow: hidden;
}

/* contains a chatbox, chat title, and chat bar */
.chat_container {
    padding: 2px;
    float: left;
    height: 400px;
    width: 300px;
    margin: 5px;
    font-size: small;
}

#chat_template {
    display: none;
}

/* container with chat messages inside */
.chatbox {
    border: 1px solid #555555;
    height: 200px;
    background: #DFDFDF;
    overflow: scroll;
}

/* chat messages */
.chatbox ul {
    list-style-type: none;
    padding-left: 3px;
}

.chatbar {
    padding-top: 2px;
}

/* the bar you type chats into */
.chatbar input[type=text] {
    width: 77%;
    float: left;
}

/* The send button */
.chatbar input[type=submit] {
    width: 20%;
    float: right;
}

#online_section .users .chat_part {
    display: none;
}

#online_section .users {
    width: 300px;
    height: 50px;
    padding: 3px;
    margin: 5px;
    border: 1px solid gray;
    float: left;
}

#chat_section .users {
    float: left;
    width: 500px;
    border: 1px solid gray;
    height: 310px;
    padding: 5px;
    margin: 3px;
}

#chat_section .users .chat_part {
    display: block;
}

.age, .rep, .location {
    font-style: italic;
}

.female {
    background: #FFCCFF;
}

.male {
    background: #A3E0FF;
}

#user_template {
    display: none;
}

.button_bar {
    padding: 2px;
}

.chat_bar {
    overflow: hidden;
}